<h1>Welcome to about page</h1>

<h2> Satyajeet Nayak</h2>
<br>
<h3>Address:</h3>
<h4>Puri, Odisha<br>
pin - 752001<br>
Cont. No - 9853456410<br>
</h4>

<h5> Skype Invitation Link</h5>
<h6> Link: https://join.skype.com/invite/pmN0zm5Gwoub </h6>

<%= link_to 'Home', root_path%>