<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

body {
  background-image: url("img3.jpeg");
}

.header {
  text-align: center;
  text-shadow: 2px 2px 5px red;
  background-color: #116466;
  color: white;
  padding: 15px;
  border-style: double;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #116466;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #116466;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #116466;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
</style>
</head>
<body>

<div class="header">
  <h1>Satyajeet Nayak</h1>
</div>

<div class="row">
  <div class="col-3 col-s-3 menu">
    <ul>
      <li style="text-shadow: 2px 2px 5px red;">About Me</li>
      <li style="text-shadow: 2px 2px 5px red;">Profession</li>
      <li style="text-shadow: 2px 2px 5px red;">Educational Details</li>
      <li style="text-shadow: 2px 2px 5px red;">Contact Me</li>
      <li style="text-shadow: 2px 2px 5px red;">Others</li>
    </ul>
  </div>

  <div class="col-6 col-s-9">
    <h1 style="color: #116466; text-shadow: 2px 2px 5px red;">Hello,</h1>
    <h2 style="color: #116466">a bit about me:<h2>
    <p><h5 style="color: #116466">Hey ! This is Satyajeet here. You want to know about me ? then you are in right place, Dear. Go Ahead.. </h5></p>
    <p><h5 style="color: #116466">I am the current employee of einfoChips, another best Software Company of Ahmedabad, Gujurat. Hey ! you know Ahmedabad ? You know Gujurat ? Yes, you are here means you know :)
. Thanks a lot for visiting. let's know more about me. Basically I am from Puri, Odisha. You know Puri ?, world famous for lord Jagannath. I am from there. </h5></p>


  </div>

  <div class="col-3 col-s-12">
    <div class="aside">
      <h2 style="text-shadow: 2px 2px 5px red;">Who?</h2>
      <p>Hey ! This Satyajeet, you don't know ?</p>
      <h2 style="text-shadow: 2px 2px 5px red;">Where?</h2>
      <p>You know Puri, the fomous city for lord Jagannath. I am from there.</p>
      <h2 style="text-shadow: 2px 2px 5px red;">How?</h2>
      <p>Obviously only because of einfochips</p>
    </div>
  </div>
</div>

<div class="footer">
  <p> Copyright 1999-2019 by Satyajeet. All Rights Reserved.
Powered by einfochips.</p>
</div>

</body>
</html>
