
  
  h1 {
    background-color:rgb(17, 0, 255);
    color: white;
    text-align: center;
  }

  /* h3, h4, h5, h6 {
    color: green;
    text-align: center;
  } */
  
  
  
  body {
    background-color:rgb(255, 255, 255);
    color: black;
    text-align: center;
    font-family: verdana;
    background-image: url("img2.jpg");
    background-size: cover;
  }

  h2 {
    color: red;
    text-align: center;
  }